@import "tailwindcss";

:root {
	--color-brand-charcoal: #080708;
	--color-brand-red: #df2935;
	--color-brand-platinum: #e6e8e6;
	--color-brand-yellow: #fdca40;
	--font-sans: "roc-grotesk-variable", sans-serif;
	--font-serif: Times;

	font-size: 20px;
}

@theme inline {
	--color-background: var(--color-brand-charcoal);
	--color-foreground: var(--color-brand-platinum);
	--font-sans: var(--font-sans);
	--font-serif: var(--font-serif);

	--color-brand-charcoal: var(--color-brand-charcoal);
	--color-brand-red: var(--color-brand-red);
	--color-brand-platinum: var(--color-brand-platinum);
	--color-brand-yellow: var(--color-brand-yellow);
}

/* Roc Grotesk Variable Font Styles */
h1,
h2,
h3,
.font-title {
	font-family: var(--font-sans), sans-serif;
	font-weight: 800;
	font-stretch: 125%;
	font-variation-settings:
		"wght" 700,
		"wdth" 125;
}

p,
.font-body {
	font-family: "roc-grotesk-variable", var(--font-sans), sans-serif;
	font-weight: 400;
	font-stretch: 95%;
	font-variation-settings:
		"wght" 400,
		"wdth" 95;
	line-height: 135%;
}

body {
	color: var(--color-brand-platinum);
	font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
	@apply flex flex-col items-center w-full;
}

.container {
	@apply flex flex-col max-w-7xl w-full px-4;
}
